finalProjectFlow.txt
[{"id":"83026aac.b7b5f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7b32550.2890f8","type":"debug","z":"83026aac.b7b5f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":520,"wires":[]},{"id":"69890888.7b65a8","type":"mqtt out","z":"83026aac.b7b5f8","name":"","topic":"myLine/output","qos":"","retain":"","broker":"8a3802ea.28cab","x":540,"y":460,"wires":[]},{"id":"7578b27a.7fa9fc","type":"mqtt in","z":"83026aac.b7b5f8","name":"","topic":"myLine/input","qos":"2","datatype":"auto","broker":"e5071fdb.7f887","x":90,"y":40,"wires":[["10ba2f28.59f341","79436fb9.db152","1dd4bc49.e8b0a4","c76f9abf.33def8","9ac261b8.3c57b"]]},{"id":"10ba2f28.59f341","type":"debug","z":"83026aac.b7b5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"ee849d05.d56eb","type":"ui_switch","z":"83026aac.b7b5f8","name":"","label":"","tooltip":"","group":"d952c939.ee4868","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"<i class=\"fa fa-toggle-on\" aria-hidden=\"true\"></i>","oncolor":"white","offvalue":"false","offvalueType":"bool","officon":"<i class=\"fa fa-toggle-off\" aria-hidden=\"true\"></i>","offcolor":"","x":330,"y":480,"wires":[["69890888.7b65a8","a7b32550.2890f8"]]},{"id":"8959124d.bae0a","type":"ui_gauge","z":"83026aac.b7b5f8","name":"","group":"6dbb2d73.f0a614","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity Level (%)","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#e6e600","#e97d01","#d60000"],"seg1":"35","seg2":"70","x":570,"y":80,"wires":[]},{"id":"6b734136.b9985","type":"ui_gauge","z":"83026aac.b7b5f8","name":"","group":"9b774719.949e78","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature Level (°C)","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#e6e600","#e97d01","#d60000"],"seg1":"35","seg2":"70","x":590,"y":180,"wires":[]},{"id":"79436fb9.db152","type":"switch","z":"83026aac.b7b5f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"%","vt":"str"},{"t":"cont","v":"°C","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":100,"wires":[["c4bcde62.0e6da"],["12bc3fb2.995e2"]]},{"id":"6e8f5413.410e2c","type":"ui_toast","z":"83026aac.b7b5f8","position":"bottom left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"New Message","name":"","x":330,"y":220,"wires":[]},{"id":"837e8276.bca75","type":"ui_button","z":"83026aac.b7b5f8","d":true,"name":"","group":"d952c939.ee4868","order":2,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":480,"wires":[["ee849d05.d56eb"]]},{"id":"30de08a9.828e98","type":"ui_button","z":"83026aac.b7b5f8","d":true,"name":"","group":"d952c939.ee4868","order":3,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":520,"wires":[["ee849d05.d56eb"]]},{"id":"25d396df.8899ba","type":"ui_audio","z":"83026aac.b7b5f8","name":"","group":"52780463.2cb2ec","voice":"Google UK English Female","always":true,"x":300,"y":260,"wires":[]},{"id":"d7c22d66.49fc3","type":"ui_chart","z":"83026aac.b7b5f8","name":"","group":"6dbb2d73.f0a614","order":2,"width":6,"height":6,"label":"Humidity Level Chart (%)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":570,"y":40,"wires":[[]]},{"id":"c4bcde62.0e6da","type":"change","z":"83026aac.b7b5f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"%","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[["d7c22d66.49fc3","8959124d.bae0a"]]},{"id":"12bc3fb2.995e2","type":"change","z":"83026aac.b7b5f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"°C","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["91bf01c8.e8e3a","6b734136.b9985"]]},{"id":"91bf01c8.e8e3a","type":"ui_chart","z":"83026aac.b7b5f8","name":"","group":"9b774719.949e78","order":2,"width":6,"height":6,"label":"Temperature Level Chart (°C)  ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":580,"y":140,"wires":[[]]},{"id":"1dd4bc49.e8b0a4","type":"switch","z":"83026aac.b7b5f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"WARNING","vt":"str"},{"t":"cont","v":"ALARM STATE","vt":"str"},{"t":"cont","v":"sleep","vt":"str"},{"t":"cont","v":"woken","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":90,"y":200,"wires":[["6e8f5413.410e2c","25d396df.8899ba"],["6e8f5413.410e2c","25d396df.8899ba"],["6e8f5413.410e2c","25d396df.8899ba"],["6e8f5413.410e2c","25d396df.8899ba"]]},{"id":"c76f9abf.33def8","type":"switch","z":"83026aac.b7b5f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":340,"wires":[["5701f47f.b9064c"]]},{"id":"5701f47f.b9064c","type":"change","z":"83026aac.b7b5f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":420,"wires":[["ee849d05.d56eb"]]},{"id":"9ac261b8.3c57b","type":"switch","z":"83026aac.b7b5f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"H","vt":"str"},{"t":"cont","v":"U","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":280,"wires":[["c4228a4d.929c18"],["2090d334.f79ccc"]]},{"id":"c4228a4d.929c18","type":"change","z":"83026aac.b7b5f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"H","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["e4467077.7fbd4","5a9ac76a.8c7bf8"]]},{"id":"5a9ac76a.8c7bf8","type":"ui_gauge","z":"83026aac.b7b5f8","name":"","group":"ecd42d04.5bcb","order":1,"width":6,"height":4,"gtype":"gage","title":"Heat Index (°C)","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#e6e600","#e97d01","#d60000"],"seg1":"35","seg2":"70","x":560,"y":280,"wires":[]},{"id":"e4467077.7fbd4","type":"ui_chart","z":"83026aac.b7b5f8","name":"","group":"ecd42d04.5bcb","order":2,"width":6,"height":6,"label":"Heat Index","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":550,"y":240,"wires":[[]]},{"id":"2090d334.f79ccc","type":"change","z":"83026aac.b7b5f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"U","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["82a5a972.d2a028","2718ace0.883e34"]]},{"id":"82a5a972.d2a028","type":"ui_chart","z":"83026aac.b7b5f8","name":"","group":"bc881da1.441c2","order":3,"width":0,"height":0,"label":"CPU Usage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":530,"y":340,"wires":[[]]},{"id":"2718ace0.883e34","type":"ui_gauge","z":"83026aac.b7b5f8","name":"","group":"bc881da1.441c2","order":1,"width":0,"height":0,"gtype":"wave","title":"CPU Usage ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":380,"wires":[]},{"id":"c75cbc04.3f78b","type":"ui_button","z":"83026aac.b7b5f8","name":"","group":"d952c939.ee4868","order":3,"width":0,"height":0,"passthru":false,"label":"Sleep ","tooltip":"","color":"","bgcolor":"dark grey","icon":"","payload":"sleep","payloadType":"str","topic":"","x":310,"y":540,"wires":[["69890888.7b65a8"]]},{"id":"fef368e0.9a3e48","type":"ui_button","z":"83026aac.b7b5f8","name":"","group":"d952c939.ee4868","order":4,"width":0,"height":0,"passthru":false,"label":"Wake","tooltip":"","color":"","bgcolor":"","icon":"","payload":"arise","payloadType":"str","topic":"","x":310,"y":580,"wires":[["69890888.7b65a8"]]},{"id":"8a3802ea.28cab","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5071fdb.7f887","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d952c939.ee4868","type":"ui_group","name":"Group 3","tab":"723d448d.db2ecc","order":1,"disp":false,"width":"4","collapse":false},{"id":"6dbb2d73.f0a614","type":"ui_group","name":"Group 1","tab":"723d448d.db2ecc","order":2,"disp":false,"width":"6","collapse":false},{"id":"9b774719.949e78","type":"ui_group","name":"Group 2","tab":"723d448d.db2ecc","order":3,"disp":false,"width":"6","collapse":false},{"id":"52780463.2cb2ec","type":"ui_group","name":"speech","tab":"723d448d.db2ecc","order":4,"disp":true,"width":"6","collapse":false},{"id":"ecd42d04.5bcb","type":"ui_group","name":"Group 4","tab":"723d448d.db2ecc","order":5,"disp":false,"width":"6","collapse":false},{"id":"bc881da1.441c2","type":"ui_group","name":"Group 5","tab":"2d0609a4.91fd96","order":1,"disp":false,"width":"6","collapse":false},{"id":"723d448d.db2ecc","type":"ui_tab","name":"Demo","icon":"","order":1,"disabled":false,"hidden":false},{"id":"2d0609a4.91fd96","type":"ui_tab","name":"Task Manager","icon":"","order":2,"disabled":false,"hidden":false}]